.controlTab .custom-container {
    padding-top: 80px;
    font-size: x-large;
    font-weight: 600;
    min-width: 600px;
    background-color: wheat;
    width: 100vw;
    padding-left: 20px;
}

.controlTab{
    background-color: wheat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(9px + 2vmin);
    color: #282c34;
}
.controlRow{
    background-color: lavender;
}

.controlRow td{
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.controlRow th{
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}