
.container {
    text-align: left;
    padding-top: 150px;
    font-size: xx-large;
    font-weight: 600;
    width: 90vw;
    min-width: 600px;
}

  .container .bottombar button:hover {
    background-color: rgb(60, 60, 60);
    cursor: pointer;
  }

  .container .design {
      margin-top: 40px;
  }

  .container .bottombar {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    height: 90px;
    display: inline-block;
    min-width: 650px;
}

.container .bottombar .previous {
  background-color: rgb(27, 27, 27);
  color: white;
  width: 120px;
  height: 40px;
  font-size: 16px;
  float: left;
  padding-top: 0px;
}

.container .bottombar .next {
  background-color: rgb(27, 27, 27);
  color: white;
  width: 120px;
  height: 40px;
  font-size: 16px;
  float: right;
  padding-top: 0px;
}

.formContainer form .botnavbar .buttonholder .previous:hover {
    cursor: pointer;
}

.formContainer form .botnavbar .buttonholder .next:hover {
    cursor: pointer;
}