
.container {
    text-align: left;
    padding-top: 150px;
    font-size: xx-large;
    font-weight: 600;
    width: 90vw;
    min-width: 600px;
}

.container .bottombar {
    text-align: right;
    padding-bottom: 10px;
}

.container .bottombar button {
    background-color: rgb(30, 149, 253);
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

  .container .bottombar button:hover {
    background-color: rgb(24, 122, 207);
    cursor: pointer;
  }

  .container .bottombar button:active {
    background-color: rgb(24, 122, 207);
    box-shadow: 0 5px rgb(158, 158, 158);
    transform: translateY(2px);
  }

  .container .design {
      margin-top: 40px;
  }